<section class="section-reviews">
<a routerLink="/tours/{{tourId}}/createReview" class="nav__el nav__el--cta">Create Review</a>

    <div class="reviews">
      <div class="reviews__card"  *ngFor="let review of reviews">
        <div class="reviews__avatar">
          <img
            src="../../../assets/img/users/{{review.user.photo}}"
            alt="Jim Brown"
            class="reviews__avatar-img"
          />
          <h6 class="reviews__user">{{review.user.name}}</h6>
        </div>
        <p class="reviews__text">
        {{review.review}}
        </p>
        <div class="reviews__rating" *ngFor="let rat of rating">
          <svg class="reviews__star reviews__star--active" *ngIf="rat <= review.rating">
            <use xlink:href="../../../assets/img/icons.svg#icon-star"></use>
          </svg>
          <svg class="reviews__star reviews__star--inactive" *ngIf="rat > review.rating">
            <use xlink:href="../../../assets/img/icons.svg#icon-star"></use>
          </svg>
        </div>
      </div>
    </div>
  </section>