<app-header></app-header>
  <section class="section-description">
    <div class="overview-box">
      <div>
        <div class="overview-box__group">
          <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
          <div class="overview-box__detail">
            <svg class="overview-box__icon">
              <use xlink:href="../../../assets/img/icons.svg#icon-calendar"></use>
            </svg>
            <span class="overview-box__label">Next date</span>
            <span class="overview-box__text">{{tour.startDates[0] | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div class="overview-box__detail">
            <svg class="overview-box__icon">
              <use xlink:href="../../../assets/img/icons.svg#icon-trending-up"></use>
            </svg>
            <span class="overview-box__label">Difficulty</span>
            <span class="overview-box__text">{{tour.difficulty}}</span>
          </div>
          <div class="overview-box__detail">
            <svg class="overview-box__icon">
              <use xlink:href="../../../assets/img/icons.svg#icon-user"></use>
            </svg>
            <span class="overview-box__label">Participants</span>
            <span class="overview-box__text">{{tour.maxGroupSize}} people</span>
          </div>
          <div class="overview-box__detail">
            <svg class="overview-box__icon">
              <use xlink:href="../../../assets/img/icons.svg#icon-star"></use>
            </svg>
            <span class="overview-box__label">Rating</span>
            <span class="overview-box__text">{{tour.ratingsAverage}} / 5</span>
          </div>
        </div>

        <div class="overview-box__group">
          <h2 class="heading-secondary ma-bt-lg" >Your tour guides</h2>
          <div *ngFor="let guide of tour.guides">
          <div class="overview-box__detail" *ngIf="guide.role === 'lead-guide'">
            <img
              src="{{imageUserPath}}/{{guide.photo}}"
              alt="Lead guide"
              class="overview-box__img"
            />
            <span class="overview-box__label">Lead guide</span>
            <span class="overview-box__text">{{guide.name}}</span>
          </div>
          <div class="overview-box__detail" *ngIf="guide.role === 'guide'">
            <img
              src="{{imageUserPath}}/{{guide.photo}}"
              alt="Tour guide"
              class="overview-box__img"
            />
            <span class="overview-box__label">Tour guide</span>
            <span class="overview-box__text">{{guide.name}}</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="description-box">
      <h2 class="heading-secondary ma-bt-lg">About the {{tour.name}} tour</h2>
      <p class="description__text">
     {{tour.summary}}
      </p>
    </div>
  </section>
  
<div *ngIf="user">
  <form *ngIf="!images.length && user.role === 'admin'">
    <label for="files">Select files:</label>
    <input type="file" (change)="onFilesSelected($event)" multiple ><br><br>
    <button class="btn btn-primary" (click)="uploadMultiple()" [hidden]="submitting">Upload Files</button>
    <button class="btn btn-info"  [hidden]="!submitting">uploading...</button>
  </form>
  
  <div *ngIf="images.length && user.role === 'admin'">
    <input type="file" (change)="onFilesSelected($event)" multiple ><br><br>
    <button class="btn btn-small" (click)="uploadMultiple()" *ngIf="!submitting">Update Tour Images</button>
    <button class="btn btn-info"  *ngIf="submitting">updating...</button>
  </div>
</div>
 
  <section class="section-pictures" *ngIf="images.length">
    <div class="picture-box" *ngFor="let i of images">
      <img
        class="picture-box__img picture-box__img--1"
        src="{{imagePath}}/{{i}}"
        alt="{{tour.name}}"
      />
    </div>
    <div class="picture-box" >
      <img 
        class="picture-box__img picture-box__img--1"
        src="{{imagePath}}/{{tour.imageCover}}"
        alt="a" 
      >
    </div> 
  </section>

  <!-- <section class="section-map">
    <div id="map"></div>
  </section>
   -->
<app-reviews></app-reviews>

  <section class="section-cta">
    <div class="cta">
      <div class="cta__img cta__img--logo">
        <img src="../../../assets/img/logo-white.png" alt="Natours logo" class="" />
      </div>
     
      <div class="cta__content">
        <h2 class="heading-secondary">What are you waiting for?</h2>
        <p class="cta__text">
          {{tour.duration}} days. 1 adventure. Infinite memories. Make it yours today!
        </p>
        <div *ngIf="user">
          <button class="btn btn--green span-all-rows" (click)="bookTour(tour._id)" *ngIf="!submitting">Book tour now!</button>
          <button class="btn btn--green span-all-rows" *ngIf="submitting">submitting...</button>
        </div>
        <a class="btn btn--green span-all-rows" *ngIf="!user" routerLink="/auth/login">Login to book tours!</a>
      </div>
    </div>
  </section>
  <app-footer></app-footer>