<main class="main">
    <div class="login-form">
      <h2 class="heading-secondary ma-bt-lg">Forgot Password</h2>
      <form class="form form--login"  #loginForm="ngForm" novalidate>
        <div class="form__group">
          <label class="form__label" for="email">Email address</label>
          <input class="form__input" id="email" type="email" placeholder="you@example.com" required  name="email" [(ngModel)]="email" #uemail="ngModel">
          <div class="danger" *ngIf="uemail.invalid && uemail.dirty">
            required field*
        </div>
        </div>
       
        <div class="form__group">
        <button [disabled]="loginForm.invalid" class="btn btn-primary" (click)="forgotPassword()" *ngIf="!submitting">Submit</button>
        <button class="btn btn-primary" *ngIf="submitting">Submitting...</button> <br> <br>
        </div>
      </form>
    </div>
  </main>