<main class="main">
    <div class="login-form">
      <h2 class="heading-secondary ma-bt-lg">Log into your account</h2>
      <form class="form form--login"  #loginForm="ngForm" novalidate>
    
        <div class="form__group ma-bt-md">
            <label class="form__label" for="password">New Password</label>
            <input class="form__input" type="password" placeholder="••••••••" required name="password" [(ngModel)]="password" #userpassword="ngModel">
            <div class="danger" *ngIf="userpassword.invalid && userpassword.dirty">
              required field*
          </div>
          </div>

          <div class="form__group ma-bt-md">
            <label class="form__label" for="passwordConfirm">New Password</label>
            <input class="form__input" type="password" placeholder="••••••••" required name="passwordConfirm" [(ngModel)]="passwordConfirm" #userpasswordConfirm="ngModel">
            <div class="danger" *ngIf="userpasswordConfirm.invalid && userpasswordConfirm.dirty">
              required field*
          </div>
          </div>

        <div class="form__group">
        <button [disabled]="loginForm.invalid" class="btn btn-primary" (click)="resetPassword()" *ngIf="!submitting">Submit</button>
        <button class="btn btn-primary" *ngIf="submitting">Submitting...</button> 
        </div>
      <a routerLink="/auth/login">back to login</a>

      </form>
    </div>
  </main>